
body main{
    background: #C1CDC1; 
}
.banner{
    width: 100%;
}
main p{
    padding-left: 20px;
}
strong{
    font-weight: bolder;
}
em strong{
    color: red;
}
.missao{
    font-size: 20px;
}
main ul{
    display: inline-block;
    margin-right: 30%;
    vertical-align: top;
}
.imagem-beneficios{
    width: 35%;
}
.sobre{
    background-color: yellow;
    text-align: center;
}
.sobre h1{
font-weight: bold;
font-size: 25px;
margin-bottom: 20px;
margin: 20px auto;
}
.beneficios{
    
}
